body {
    background-color: #dfdbc6;
    display: grid;
    grid-template-areas: 
        "header header"
        "nav nav"
        "main main"
    ;
    

}

.main {
    background: url("https://wallpapercave.com/wp/wp4267621.jpg");
    justify-content: center;
}

#new-card-form {
    text-align: center;
}

#title {
    text-align: center;
}

header {
    grid-area: header;
    border: 2px solid red;
}

/* nav {
    grid-area: nav;
    border: 2px solid blue;
} */

/* #navBtns {
    list-style-type: none;
} */

/* main {
    grid-area: main;
    border: 2px solid green;
} */

/* #all-cards {
    list-style-type: none;
} */

/* .card {
    text-align: center;
    display: flex;
    justify-content: center;
font-family: 'Architects Daughter', cursive;
font-family: 'Montserrat', sans-serif;
} */
#app-name {
    text-align: center;
    height: 6rem;
    width: auto;
    font-family: 'Architects Daughter', cursive;
    font-size: 72px;
}

.card {
    text-align: center;
    border: rgb(5, 5, 5) solid 4px;
    padding: 1rem;
    width: 14rem;
    height: 25rem;
    display: inline-grid;
    margin: 15px;
    box-shadow: 3px 4px #525250;
    border-radius: 5px;
    background-color: rgb(247, 216, 158);
    /* justify-content: center; */
}

.card-image {
    justify-self: center;
    height: 15rem;
    width: auto;
    border: grey solid 2px;
}

.delete-button {
    max-width: 50px;
    text-align: center;
}

/* Liam this is the theoretical update button css */
.update-button {
    max-width: 50px;
    text-align: center;
}

.card-name {
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
}

.quote {
    font-family: 'Montserrat', sans-serif;
}