body {
    background-color: #dfdbc6;
    display: grid;
    grid-template-areas: 
        "header header"
        "nav nav"
        "main main"
    ;
    background: url("https://wallpapercave.com/wp/wp4267621.jpg");
    background-attachment: fixed;
    background-size: cover;

    

}


#new-card-form {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    color: rgb(235, 211, 0);
    text-align: center;
    font-weight: 200;
}

.main {
    justify-content: center;
}



header {
    grid-area: header;
    /* border: 2px solid red; */
}

.content {
    justify-content: center;
}

#app-name {
    text-align: center;
    height: 6rem;
    width: auto;
    font-family: 'Architects Daughter', cursive;
    font-size: 72px;
    color: rgb(235, 211, 0)
}

.card {
    text-align: center;
    border: rgb(5, 5, 5) solid 4px;
    padding: 1rem;
    width: 14rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #525250;
    border-radius: 5px;
    background-color: rgb(197, 239, 255);
    justify-content: center;
}

.card-image {
    justify-self: center;
    height: 12rem;
    width: auto;
    /* border: grey solid 2px; */
}

.delete-button {
    max-width: 50px;
    text-align: center;
}

/* Liam this is the theoretical update button css */
.update-button {
    max-width: 50px;
    text-align: center;
}

.card-name {
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
}

.quote {
    font-family: 'Montserrat', sans-serif;
}

#title {
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    color: rgb(235, 211, 0);
    text-align: center;
    font-weight: 200;
}