body {
    background-color: #dfdbc6;
    display: grid;
    grid-template-areas: 
        "header header"
        "nav nav"
        "main main"
    ;
}


header {
    grid-area: header;
    border: 2px solid red;
}

/* nav {
    grid-area: nav;
    border: 2px solid blue;
} */

/* #navBtns {
    list-style-type: none;
} */

/* main {
    grid-area: main;
    border: 2px solid green;
} */

/* #all-cards {
    list-style-type: none;
} */

/* .card {
    text-align: center;
    display: flex;
    justify-content: center;

} */

.card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #4b4a44
}

.delete-button {
    max-width: 50px;
}